<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Центр поддержки предпринимательства</title>
    <link rel="stylesheet" href="./app/css/style.css" type="text/css">
</head>

<body class="body">
    <header>
        <img src="" alt="Логотип компании центра поддержки предпринимательства">
            <span>+7 4872 25 98 32</span>
                <nav> <a href="#" class="navigation__link">О центре</a>
                <a href="#" class="navigation__link">Услуги</a>
                <a href="#" class="navigation__link">Конкурсная документация</a>
                <a href="#" class="navigation__link">Запрос коммерческих предложений</a>
                <a href="#" class="navigation__link">Мероприятия</a>
                <a href="#" class="navigation__link">Новости</a>
                <a href="#" class="navigation__link">Контакты</a>
            </nav>
            <h1>Центр инжиниринга</h1>
            <br>
            <h2>Тульского регионального фонда</h2>
            <br>
            <h2>Центр поддержки предпринимательства</h2>
            <li>Доступность востребованных
                <br>инжиниринговых услуг для
                <br>производственных СМСП
            </li>
            <li>Рост количества
                <br>высоко производительных
                <br>рабочих мест Тульского региона
            </li>
            <li>Увеличение объемов производства продукции</li>
            <li>Внедрние инноваций и передовых технологий
                <br>в производственые процессы
            </li>
            <a href="#" class="navigation__link">Конкурсная документация</a>
            <a href="#" class="navigation__link">Коммерческие предложения</a>
            <section>
                <h3>Услуги центра</h3>
                <a href="#" class="navigation__link">Проведение экспресс-оценки индекса
                    <br>технологической готовности СМСП.</a>
                <span><br>Анализ потенциала предприятий, выявление текущих
                    <br>текущих проблем и потребностей предприятий, и проблем предприятий,
                    <br>влияющих на их конкурентноспособность.</span>
                <span><br>Проведение технических аудитов
                    <br>(технологического/энергетического/экологического аудита
                    <br>производства в целях предсертификационной, предлицицензионной подготовки).</span>
                <span><br>Содействие в разработке программ/
                    <br>модернизации/развития технического первооружения производства
                    <br>для предприятий МСП.</span>
                <span><br>Консультационные услуги по защите прав
                    <br>на результаты интеллектуальной деятельности(патентные услуги).</span>
                <a href="#" class="navigation__link"><br>Инженерно-исследовательские,
                    <br>проектно-конструкторные и расчетно-аналитические работы</a>
                <span><br>Содействие в получении маркетенговых
                    <br>услуг, услуг по позиционированию и продвижению новых видов продукции
                    <br>(товаров, услуг) на российском и международном рынках.</span>
                <span><br>Подготовка, переподготовка и повышение квалификации кадров.</span>
            </section>
            <section>
                <h3>Новости</h3>
                <div><a href="#" class="navigation__link">23 сентября 2017 Новые купили стили<br>
                        на немецкую компанию за много долларов?Группа китайских инвесторов на их в Германии<br>
                        производителя оборудования, компанию. Читать</a>
                </div>
                <div><a href="#" class="navigation__link">20 сентября 2017 Китайцы купили немецкую<br>
                        компанию за 1 млрд. долларов?<br>Группа китайских инвесторов на их в Германии<br>
                        производителя оборудования, компанию. Читать</a>
                </div>
                <div><a href="#" class="navigation__link">18 сентября 2017 Новые купили стили<br>
                        немецкую компанию за много долларов?Группа китайских инвесторов на их<br>в Германии
                        производителя оборудования, компанию. Читать,<br>
                        <a href="#" class="navigation__link">Смотреть все новости</a>
                </div>
            </section>
            <footer><h3>Контакты</h3>
                <div><h3>За подробной информацией о деятельности Центра<br>
                    Инжиниринга обращаться по телефону:</h3>
                    <a href="#" class="navigation__link">Facebook.com</a><br>
                    <a href="#" class="navigation__link">Twitter.com</a>
                        <h3>Телефон:</h3>
                            <span>+7 4872 25 98 32</span>
                            <h3>Адрес:</h3>Жаворонкова, д. 2 (вход со двора), каб. №1
                            </div>
                    </footer>
            </body>
    </html>