<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Центр поддержки предпринимательства</title>
    <link rel="stylesheet" type="text/css" href="./app/css/style.css">
</head>

<body class="body">
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__image">
                    <img src="../template/app/img/3-layers.png"
                        alt="Логотип компании центра поддержки предпринимательства">
                </div>
                <a class="header__phone" href="tel:+74872259832">
                    <span class="header__phone-icon">
                        <img src="" alt="">
                    </span>
                    <span>+7 4872 25 98 32</span> 
                </a>
                <nav class="header__navigation navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">О центре</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Услуги</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Конкурсная документация</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Запрос <br> коммерческих предложений</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Мероприятия</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Новости</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <section class="index-features">
            <div class="container index-features__container">
                <div class="index-features__wrap">
                    <h1 class="index-features__title">
                       <span class="index-features__title-big"> Центр инжиниринга</span> <br> Тульского регионального фонда <br>Центр поддержки предпринимательства
                    </h1>
                    <ul class="index-features__list">
                        <li class="index-features__item">
                            <div class="index-features__icon">
                                <img src="" alt="">
                            </div>
                            <div class="index-features__text">Доступность востребованных
                                инжиниринговых услуг для
                                производственных СМСП</div>
                        </li>
                        <li class="index-features__item">
                            <div class="index-features__icon">
                                <img src="" alt="">
                            </div>
                            <div class="index-features__text">Рост количества
                                высоко производительных
                                рабочих мест Тульского региона</div>
                        </li>
                        <li class="index-features__item">
                            <div class="index-features__icon">
                                <img src="" alt="">
                            </div>
                            <div class="index-features__text">Увеличение объемов производства продукции</div>
                        </li>
                        <li class="index-features__item">
                            <div class="index-features__icon">
                                <img src="" alt="">
                            </div>
                            <div class="index-features__text">Внедрние инноваций и передовых технологий
                                в производственые процессы</div>
                        </li>
                    </ul>
                    <div class="index-features__buttons">
                        <a href="#" class="index-features__link common-button">Конкурсная документация</a>
                        <a href="#" class="index-features__link common-button common-button_transparent">Коммерческие
                            предложения</a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main class="main">

        <section class="services">
            <div class="container">
                <div class="services__wrap">
                    <h3 class="services__title custom-title">Услуги центра</h3>
                    <div class="services__list">
                        <a href="#" class="services__link">
                            <span class="services__icon">
                                <img src="" alt="">
                            </span>
                            <span class="services__text">
                                Проведение экспресс-оценки индекса
                                технологической готовности СМСП.
                            </span>
                            <span class="services__show-more">
                                Подробнее
                            </span>
                        </a>
                        <a href="#" class="services__link">
                            <span class="services__icon">
                                <img src="" alt="">
                            </span>
                            <span class="services__text"><br>Анализ потенциала предприятий, выявление текущих
                                текущих проблем и потребностей предприятий, и проблем предприятий,
                                влияющих на их конкурентноспособность.
                            </span>
                            <span class="services__show-more">
                                Подробнее
                            </span>
                        </a>
                        <a href="#" class="services__link">
                            <span class="services__icon">
                                <img src="" alt="">
                            </span>
                            <span class="services__text"><br>Проведение технических аудитов
                                (технологического/энергетического/экологического аудита
                                производства в целях предсертификационной, предлицицензионной подготовки).
                            </span>
                            <span class="services__show-more">
                                Подробнее
                            </span>
                        </a>
                        <a href="#" class="services__link">
                            <span class="services__icon">
                                <img src="" alt="">
                            </span>
                            <span class="services__text"><br>Содействие в разработке программ/
                                модернизации/развития технического первооружения производства
                                для предприятий МСП.
                            </span>
                            <span class="services__show-more">
                                Подробнее
                            </span>
                        </a>
                        <a href="#" class="services__link">
                            <span class="services__icon">
                                <img src="" alt="">
                            </span>
                            <span class="services__text"><br>Консультационные услуги по защите прав
                                на результаты интеллектуальной деятельности(патентные услуги).
                            </span>
                            <span class="services__show-more">
                                Подробнее
                            </span>
                        </a>
                        <a href="#" class="services__link">
                            <span class="services__icon">
                                <img src="" alt="">
                            </span>
                            <span class="services__text"><br>Инженерно-исследовательские,
                                проектно-конструкторные и расчетно-аналитические работы.
                            </span>
                            <span class="services__show-more">
                                Подробнее
                            </span>
                        </a>
                        <a href="#" class="services__link">
                            <span class="services__icon">
                                <img src="" alt="">
                            </span>
                            <span class="services__text"><br>Содействие в получении маркетенговых
                                услуг, услуг по позиционированию и продвижению новых видов продукции
                                (товаров, услуг) на российском и международном рынках.
                            </span>
                            <span class="services__show-more">
                                Подробнее
                            </span>
                        </a>
                        <a href="#" class="services__link">
                            <span class="services__icon">
                                <img src="" alt="">
                            </span>
                            <span class="services__text"><br>Подготовка, переподготовка и повышение квалификации кадров.
                            </span>
                            <span class="services__show-more">
                                Подробнее
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="news" style="background-image:url();">
            <div class="container">
                <div class="news__wrap">
                    <h3 class="custom-title custom-title_white">Новости</h3>
                    <div class="news__list">
                        <a href="#" class="news__item">
                            <span class="news__date">
                                23<br>сентября<br>2017
                            </span>
                            <span class="news__title">
                                Новые купили стили на немецкую компанию за много долларов?
                            </span>
                            <span class="news__text">
                                Группа китайских инвесторов на их в Германии
                                производителя оборудования, компанию.
                            </span>
                            <span class="news__links">
                                <span class="news__arrow"></span>
                                <span class="news__button">Читать</span>
                            </span>
                        </a>
                        <a href="#" class="news__item">
                            <span class="news__date">
                                20<br>сентября<br>2017
                            </span>
                            <span class="news__title">Китайцы купили немецкую
                                компанию за 1 млрд. долларов?
                            </span>
                            <span class="news__text">
                                Группа китайских инвесторов на их в Германии
                                производителя оборудования, компанию.
                            </span>
                            <span class="news__links">
                                <span class="news__arrow"></span>
                                <span class="news__button">Читать</span>
                            </span>
                        </a>
                        <a href="#" class="news__item">
                            <span class="news__date">
                                18<br>сентября 2017 Новые купили стили
                                немецкую компанию за много долларов?
                            </span>
                            <span class="news__text">Группа китайских инвесторов на их в Германии
                                производителя оборудования, компанию.
                            </span>
                            <span class="news__arrow"></span>
                            <span class="news__button">Читать</span>
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="common-button common-button_transparent">Смотреть все новости</a>
        </section>
        <section class="contacts">
            <div class="container">
                <div class="contacts__wrap">
                    <div class="contacts__image">
                        <h3>Контакты</h3>
                        <div class="contacts__plaster">
                            <div class="contacts__plaster-left">
                                <h4>За подробной информацией о деятельности Центра
                                    Инжиниринга обращаться по телефону:</h4>
                                <a href="#" class="contacts__link" target="blank">
                                    <img src="" alt="Facebook">
                                </a>
                                <a href="#" class="contacts__link">Twitter.com
                                    <img src="" alt="Twitter">
                                </a>
                                <!-- navigation__link - элемент блока navigation.
                                    а navigation у нас находится в шапке. 
                                -->
                            </div>
                            <div class="contacts__plaster-right">
                                <h4>Телефон:</h4>
                                <a href="tel:+74872259832">+7 4872 25 98 32 </a>
                                <h4>Адрес:</h4>
                                <span> Жаворонкова, д. 2 (вход со двора), каб. №1</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__wrap">
                <div class="footer__item">2016 все права защищены</div>
                <div class="footer__item">
                    Создание сайта - <a href="" target="_blank">Dial</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
