<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Центр поддержки предпринимательства</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body class="body">
    <header class="header">
        <img src="" alt="Логотип компании центра поддержки предпринимательства">
        <a href="tel:+74872259832">+7 4872 25 98 32 </a>
        <nav class="nav"> <a href="#" class="navigation__link">О центре</a>
            <a href="#" class="navigation__link">Услуги</a>
            <a href="#" class="navigation__link">Конкурсная документация</a>
            <a href="#" class="navigation__link">Запрос коммерческих предложений</a>
            <a href="#" class="navigation__link">Мероприятия</a>
            <a href="#" class="navigation__link">Новости</a>
            <a href="#" class="navigation__link">Контакты</a>
        </nav>
        <main class="main">
            <h1>Центр инжиниринга
                <br>Тульского регионального фонда
                <br>Центр поддержки предпринимательства</h1>
            <ul class="navigation__list">
                <li class="navigation__item">Доступность востребованных
                    инжиниринговых услуг для
                    производственных СМСП
                </li>
                <li class="navigation__item">Рост количества
                    высоко производительных
                    рабочих мест Тульского региона
                </li>
                <li class="navigation__item">Увеличение объемов производства продукции
                </li>
                <li class="navigation__item">Внедрние инноваций и передовых технологий
                    в производственые процессы
                </li>
            </ul>
            <a href="#" class="navigation__link">Конкурсная документация</a>
            <a href="#" class="navigation__link">Коммерческие предложения</a>
            <section class="section">
                <h3>Услуги центра</h3>
                <a href="#" class="navigation__link">Проведение экспресс-оценки индекса
                    технологической готовности СМСП.</a>
                <a href="#" class="navigation__link"><br>Анализ потенциала предприятий, выявление текущих
                    текущих проблем и потребностей предприятий, и проблем предприятий,
                    влияющих на их конкурентноспособность.</a>
                <a href="#" class="navigation__link"><br>Проведение технических аудитов
                    (технологического/энергетического/экологического аудита
                    производства в целях предсертификационной, предлицицензионной подготовки).</a>
                <a href="#" class="navigation__link"><br>Содействие в разработке программ/
                    модернизации/развития технического первооружения производства
                    для предприятий МСП.</a>
                <a href="#" class="navigation__link"><br>Консультационные услуги по защите прав
                    на результаты интеллектуальной деятельности(патентные услуги).</a>
                <a href="#" class="navigation__link"><br>Инженерно-исследовательские,
                    проектно-конструкторные и расчетно-аналитические работы</a>
                <a href="#" class="navigation__link"><br>Содействие в получении маркетенговых
                    услуг, услуг по позиционированию и продвижению новых видов продукции
                    (товаров, услуг) на российском и международном рынках.</a>
                <a href="#" class="navigation__link"><br>Подготовка, переподготовка и повышение квалификации кадров.</a>
            </section>
            <section class="section__news">
                <h3>Новости</h3>
                <div class="news__item"><a href="#" class="navigation__link">23 сентября 2017 Новые купили стили
                        на немецкую компанию за много долларов?Группа китайских инвесторов на их в Германии
                        производителя оборудования, компанию.
                        <button type="button">Читать</button></a>
                </div>
                <div class="news__item"><a href="#" class="navigation__link">20 сентября 2017 Китайцы купили немецкую
                        компанию за 1 млрд. долларов?Группа китайских инвесторов на их в Германии
                        производителя оборудования, компанию.
                        <button type="button">Читать</button></a>
                </div>
                <div class="news__item"><a href="#" class="navigation__link">18 сентября 2017 Новые купили стили
                        немецкую компанию за много долларов?Группа китайских инвесторов на их в Германии
                        производителя оборудования, компанию. 
                        <button type="button">Читать</button></a><br>
                        <button type="button">Смотреть все новости</button>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="contacts">
                    <h3>Контакты</h3>
                <h4>За подробной информацией о деятельности Центра
                    Инжиниринга обращаться по телефону:</h4>
                <a href="#" class="navigation__link">Facebook.com</a>
                <a href="#" class="navigation__link">Twitter.com</a>
                <h4>Телефон:</h4>
                <a href="tel:+74872259832">+7 4872 25 98 32 </a>
                <h4>Адрес:</h4>
               <span> Жаворонкова, д. 2 (вход со двора), каб. №1</span>
            </div>
        </footer>
    </header>
</body>

</html>